<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" href="../apple-touch-icon.png">
	<meta name="description" content="子どもから大人まで、プログラミングを学ぶなら、Codera。">
	<title>プログラミングスクール</title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
<!-- ========== header ========== -->
<header>
	<div class="container header-container">
		<div class="header-inner">
			<h1 class="header-logo"><a href="index.html">
				<img src="../images/logo.png" srcset="../images/logo.png 1x, ../images/logo@2x.png 2x" alt="Codera">
			</a></h1>
		</div>
	</div><!-- /header-container -->
</header>
<!-- ========== /header ========== -->
<!-- ========== nav ========== -->
<nav>
	<div class="container nav-container">
		<ul class="navbar">
			<li><a href="../index.html">ホーム</a></li>
			<li><a href="../course/index.html">コース紹介</a></li>
			<li><a href="../qanda/index.html">よくある質問</a></li>
			<li><a href="../contact/index.html">お申し込み</a></li>
		</ul>
	</div><!-- /nav-container -->
</nav>
<!-- ========== /nav ========== -->

<!-- ========== main ========== -->
<section class="main">
	<div class="container">
		<main>
			
		</main>
	</div><!-- /container -->
</section>
<!-- ========== /main ========== -->

<!-- ========== footer ========== -->
<footer>
	<div class="container footer-container">
		<ul class="footer-nav">
			<li><a href="../course/index.html">コース紹介</a></li>
			<li><a href="../qanda/index.html">よくある質問</a></li>
			<li><a href="../contact/index.html">お申し込み</a></li>
		</ul><!-- /.footer-nav -->
		<p class="footer-copyright">
			&copy; codera
		</p><!-- /.footer-copyright -->
	</div><!-- /footer-container -->
</footer>
<!-- ========== /footer ========== -->

<script src="script/script.js"></script>
</body>
</html>